.Commit{
    padding: 10px;
    display: flex;
    border-top: .5px solid rgb(202, 202, 202);
}

.Commit:hover{
    background: #e6e6e6;
}

.Commit:last-child{
    border-bottom: none;
}

.Commit__graph{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

.Commit__content{
    display: flex;
    flex-direction: column;
    place-content: center;
    flex-grow: 1;
    width: 100%;
}

.Commit__content-message{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.Commit__content-detail{
    display: flex;
    flex-direction: column;
}

.Commit__content-detail-hash{
    font-size: 1.1rem;
    color: #ec0000;
    padding: 5px 0;
}

.Commit__content-detail-datetime{
    font-size: 1.1rem;
    padding: 5px 0;
}


@media only screen and (min-width: 768px) {
    .Commit__content-detail{
        flex-direction: row;
    }

    .Commit__content-detail-hash{
        margin-right: 10px;
    }
}
