.DateFilterBar{
    display: flex;
    place-items: center;
}

.DateFilterBar__from{
    width: 45%;
    margin-right: 20px;
}

.DateFilterBar__to{
    width: 45%;
    margin-right: 20px;
}

.DateFilterBar__button{
    width: 10%;
    display: flex;
    place-items: center;
    place-content: center;

    .MuiIconButton-label{
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .DateFilterBar{
        justify-content: flex-end;
        justify-items: flex-end;
    }

    .DateFilterBar__from{
        width: initial;
    }

    .DateFilterBar__to{
        width: initial;
    }

    .DateFilterBar__button{
        width: initial;
    }
}