@font-face {
  font-family: "Montserrat";
  src:
      local("Montserrat"),
      url('assets/fonts/Monserrat/Montserrat-Regular.ttf')
      format("truetype");
}

@font-face {
  font-family: "Amatic";
  src:
      local("Amatic"),
      url('assets/fonts/Amatic/AmaticSC-Regular.ttf')
      format("truetype");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat';
}